# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: 'npm'
      - run: npm install
      - run: npm ci
  startBg:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: npm run runBackBg
  startFront:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: npm run startFront
  tests:
    runs-on: ubuntu-latest
    needs: [build, startBg, startFront]
    steps:
      - run: npm run test

    
